h1 {
    background: red;
}

.paragraph-1{
    background: blue;
    font-size: 32pt;
    color: green;
}

.paragraph-2 {
    border: 4px solid yellow; border-radius: 5px; font-size: 24pt;
    margin-bottom: 60Ñ€x;
    padding bottom: 60px;
    padding-left: 20px;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: "Courier New", Courier, monospace;
}

.paragraph-4 {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: green;
    text-shadow: 2px 2px 2px green;
}

